:root {
    --logo-height: 128px;
}


#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    position: fixed;

    right: 0;
    top: 0;
    left: 0;
    background-color: #ffffff;
}
#logotype {
    height: var(--logo-height);
}
.side-item {
    font-size: 24px;
}
#news, #crew, #shop {
    margin: auto 64px;
}


#main {
    margin-left: 48px;
    margin-right: 48px;
    padding-top: 8px
}
#footer {
    float: right;
}
#footer > ul > li {
    display: inline;
}


#section-home {
    display: inherit;
}
#section-news, #section-crew, #section-shop {
    display: none;
}